%p#notice= notice

%h1= @word.name
%p.wod-actions
  = link_to "Edit", edit_word_path(@word), class: "btn btn-primary"
  = link_to "Delete", @word, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"
  = link_to "Lock It", "#" if @word.locked
  = link_to "Unlock It, "#" unles @word.locked

#tags
  .added-tags
  .new-tags= render @tags
