%p#notice= notice

%h1= @word.name
%p.wod-actions
  = link_to "Edit", edit_word_path(@word), class: "btn btn-primary"
  = link_to "Delete", @word, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-primary"
  = link_to "Lock It", lock_it_word_path(@word), class: "btn btn-primary" unless @word.locked
  = link_to "Unlock It", unlock_it_word_path(@word), class: "btn btn-primary" if @word.locked

#tags
  = render partial: 'word_id'
  .row-fluid
    .span6
      .tags= render partial: 'tags'
    .span6
      .untags= render partial: 'untags'

